<div class="container col-lg-12" style="height: 80vh;overflow-y: auto;" ng-controller="employee">

    <h2 class="text-center">A&ntilde;adir Empleado</h2>

    <div class="row">

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Personal</strong>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-group-sm form-horizontal">


                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="clave">Clave</label>

                            <div class="col-sm-4">
                                <input id="clave" type="text" class="form-control" ng-model="employee.clave"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Nombre">Nombre</label>

                            <div class="col-sm-4">
                                <input id="Nombre" type="text" class="form-control" ng-model="employee.name"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Appellido Paterno">Appellido Paterno</label>

                            <div class="col-sm-4">
                                <input id="Appellido Paterno" type="text" class="form-control"
                                       ng-model="employee.surname1"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Appellido Materno">Appellido Materno</label>

                            <div class="col-sm-4">
                                <input id="Appellido Materno" type="text" class="form-control"
                                       ng-model="employee.surname2"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Alias">Alias</label>

                            <div class="col-sm-4">
                                <input id="Alias" type="text" class="form-control" ng-model="employee.alias"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Curp">Curp</label>

                            <div class="col-sm-4">
                                <input id="Curp" type="text" class="form-control" ng-model="employee.curp"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Fecha de Nacimiento">Fecha de Nacimiento</label>

                            <div class="col-sm-4">
                                <input id="Fecha de Nacimiento" type="text" class="form-control"
                                       ng-model="employee.birthDate" datepicker/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="lugar de Nacimiento">Lugar de Nacimiento</label>

                            <div class="col-sm-4">
                                <input id="lugar de Nacimiento" type="text" class="form-control"
                                       ng-model="employee.birthPlace"/>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>


        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Domicilia</strong>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-group-sm form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="calle">Calle</label>

                            <div class="col-sm-4">
                                <input id="calle" type="text" class="form-control" ng-model="employee.street"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="colonia">Colonia</label>

                            <div class="col-sm-4">
                                <input id="colonia" type="text" class="form-control" ng-model="employee.colony"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="municipio">Municipio</label>

                            <div class="col-sm-4">
                                <input id="municipio" type="text" class="form-control" ng-model="employee.municipal"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="estado">Estado</label>

                            <div class="col-sm-4">
                                <input id="estado" type="text" class="form-control" ng-model="employee.state"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="telefono">Telefono</label>

                            <div class="col-sm-4">
                                <input id="telefono" type="text" class="form-control" ng-model="employee.telephone"/>
                            </div>
                        </div>


                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Tarjeton</strong>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-group-sm form-horizontal">


                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="numero">Numero</label>

                            <div class="col-sm-4">
                                <input id="numero" type="text" class="form-control" ng-model="employee.tarjetonNumero"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="tipo">Tipo</label>

                            <div class="col-sm-4">
                                <input id="tipo" type="text" class="form-control" ng-model="employee.tarjetonTipo"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Expedicion">Expedicion</label>

                            <div class="col-sm-4">
                                <input id="Expedicion" type="text" class="form-control"
                                       ng-model="employee.tarjetonExpedicion" datepicker/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Venicimiento">Venicimiento</label>

                            <div class="col-sm-4">
                                <input id="venicimiento" type="text" class="form-control"
                                       ng-model="employee.tarjetonVenicimiento" datepicker/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>


        <div class="col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading"><strong>Laboral</strong>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-group-sm form-horizontal">


                        <div class="form-group" ng-show="employee.department === 'OPERADOR'">
                            <label class="col-sm-4 control-label">Permisionario</label>

                            <div class="col-sm-4" ng-hide="modify">
                                <angucomplete-alt id="permisionario" placeholder="Permisionario" pause="100"
                                                  selected-object="selectedPermisionario"
                                                  local-data="permisionarios" search-fields="name" title-field="name"
                                                  minlength="1"
                                                  input-class="form-control form-control-small" match-class="highlight"

                                        />
                            </div>
                            <div class="col-sm-4" ng-show="modify">
                                <input type=" text
                                " ng-model="employee.permisionario" disabled/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Estatus</label>

                            <div class="col-sm-4" ng-hide="modify">
                                <angucomplete-alt id="empType" placeholder="Departmento" pause="100"
                                                  selected-object="selectedDepartment"
                                                  local-data="departments" search-fields="name" title-field="name"
                                                  minlength="1"
                                                  input-class="form-control form-control-small" match-class="highlight"
                                        />
                            </div>
                            <div class="col-sm-4" ng-show="modify">
                                <input type="text" ng-model="employee.department" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="rfc">RFC</label>

                            <div class="col-sm-4">
                                <input id="rfc" type="text" class="form-control" ng-model="employee.rfc"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="imss">IMSS</label>

                            <div class="col-sm-4">
                                <input id="imss" type="text" class="form-control"
                                       ng-model="employee.imss"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


            <div class="panel panel-default" ng-show="employee.department === 'OPERADOR'">
                <div class="panel-heading"><strong>Licencia</strong>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-group-sm form-horizontal">


                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="numero">Numero</label>

                            <div class="col-sm-4">
                                <input id="numero" type="text" class="form-control" ng-model="licenciaNumero"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="tipo">Tipo</label>

                            <div class="col-sm-4">
                                <input id="tipo" type="text" class="form-control" ng-model="licenciaTipo"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Expedicion">Expedicion</label>

                            <div class="col-sm-4">
                                <input id="expedicion" type="text" class="form-control"
                                       ng-model="licenciaExpedicion" datepicker/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="Venicimiento">Venicimiento</label>

                            <div class="col-sm-4">
                                <input id="venicimiento" type="text" class="form-control"
                                       ng-model="licenciaVenicimiento" datepicker/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="col-sm-offset-2 col-md-10">
        <button type="button" class="btn-lg btn-success" ng-click="addEmployee()">A&ntilde;adir Empleado</button>
    </div>


    <div class="col-sm-offset-4 form-group-sm" role="alert">
        <div class="col-lg-12">
            <div ng-repeat="error in errors">
                <h2>
                    <div class="text-center text-danger">{{error}}</div>
                </h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div>
                <h2>
                    <div class="text-center text-primary">{{msg}}</div>
                </h2>
            </div>
        </div>
    </div>

</div>
