input[type=number]:in-range {
    font-weight: bold;
}

input[type=number]:invalid {
    background-color: red;
}

textarea {
    opacity: 0.75;
    background-color: brown;
    text-shadow: 0.1em 0.1em 0.2em white;
    padding: 2vh auto;
}

pre:read-only:hover {
    border: 5px dashed red;
}

*:target {
    border-left: 5px solid gray;
    background: greenyellow top right no-repeat;
}

p:first-of-type::first-letter {
    font-size: 200%;
}

p::first-line {
    font-size: 150%;
    color: purple;
}

a[href] img:only-child {
    border: 2px solid black;
}

.up {
    vertical-align: text-top;
    text-shadow: green 10px 0.5em 0.5px;
}

.vertical-right {
    writing-mode: vertical-rl;
}

body {
    line-height: 1.5;
}

#em6 {
    height: 6em;
    border: 1px solid
}

#em3 {
    height: auto;
    margin-top: 1em;
    margin-bottom: 3em;
}

#negmar {
    width: 200px;
    margin-top: 10px;
    border: 2px dashed green;
}

#negmar>div {
    margin-left: auto;
    width: 150px;
    margin-right: auto;
    border: 1px solid yellow;
}

#newdiv {
    font-size: 15px;
    line-height: 1em;
    margin-top: 10px;
}

#newdiv span {
    background: #FAA;
    padding-top: 10px;
    padding-bottom: 10px;
    box-decoration-break: slice;
}